@charset "utf-8";
/* CSS Document */
body{
	background-color: aqua;
	text-align: center;
	padding-top: 60px;
}
h1{
	color: #320280;
}
form{
	background: white;
	padding: 20px;
	width: 300px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
input{
	width: 90px;
	padding: 8px;
	margin-top: 10px;
	margin-bottom: 25px;
	border: 1px solid #CCC;
	border-radius: 4px;
}
button{
	padding: 12px 20px;
	border:none;
	background-color: aquamarine;
	color: white;
	border-radius:4px;
	cursor: pointer;
}
button:hover {
	background-color: azure;
}