@charset "utf-8";
/* CSS Document */
h1{
	text-align: center;
	color: cornflowerblue;
	font-size:60px;
}
p{
	text-align: center;
	color: cornflowerblue;
	font-size:40px;
}
body{
		background-color: darkolivegreen;
}
