@charset "utf-8";
/* CSS Document */
.contenedor{
	top: 0;
	margin: auto;
	width: 1400px;
	font-size: 35px;
}
a{
		color: antiquewhite;
	padding-right: 100px;
		margin: 10px;
}
img{
	padding-right: 100px;
}
*{
	margin: 0;
	padding: 0;
}
h1{
	text-align: center;
	font-size: 25px;
}
p{
	font-size: 25px;
}
body{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	padding: 0;
	margin: 0;
	background-color: aqua
}
table{
	margin-left: 270px;
	margin-top: 20px;
}
header{
	padding-left: 90px;
	padding-right: 90px;
	padding-top: 35px;
	margin: auto;
	position: fixed;
	width: 1200px;
	height: 70px;
	z-index: 100%;
	background-color: blue;
}
footer{
	font-size: 15px;
}